@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff577e !important;
}
.bg-success {
  background-color: #3dffb8 !important;
}
.bg-info {
  background-color: #fffa5c !important;
}
.bg-warning {
  background-color: #fffa5c !important;
}
.bg-danger {
  background-color: #fffa5c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff577e !important;
  border-color: #ff577e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ff003b !important;
  border-color: #ff003b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff003b !important;
  border-color: #ff003b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff577e !important;
  border-color: #ff577e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff003b !important;
  border-color: #ff003b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff003b !important;
  border-color: #ff003b !important;
}
.btn-info,
.btn-info:active {
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
  color: #5c5900 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #050500 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #5c5900 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
}
.btn-success,
.btn-success:active {
  background-color: #3dffb8 !important;
  border-color: #3dffb8 !important;
  color: #003d27 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #00e591 !important;
  border-color: #00e591 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #003d27 !important;
  background-color: #00e591 !important;
  border-color: #00e591 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
  color: #5c5900 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #050500 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #5c5900 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
  color: #5c5900 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #050500 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #5c5900 !important;
  background-color: #fff705 !important;
  border-color: #fff705 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff577e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ff003b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff577e !important;
  border-color: #ff577e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff577e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff003b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff577e !important;
  border-color: #ff577e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fffa5c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #fff705 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #5c5900 !important;
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3dffb8;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #00e591 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #003d27 !important;
  background-color: #3dffb8 !important;
  border-color: #3dffb8 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fffa5c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #fff705 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5c5900 !important;
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fffa5c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #fff705 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #5c5900 !important;
  background-color: #fffa5c !important;
  border-color: #fffa5c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff577e !important;
}
.text-secondary {
  color: #ff577e !important;
}
.text-success {
  color: #3dffb8 !important;
}
.text-info {
  color: #fffa5c !important;
}
.text-warning {
  color: #fffa5c !important;
}
.text-danger {
  color: #fffa5c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #f00038 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #f00038 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #00d688 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #f5ed00 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #f5ed00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #f5ed00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff577e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fffa5c;
}
.alert-warning {
  background-color: #fffa5c;
}
.alert-danger {
  background-color: #fffa5c;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff577e;
  border-color: #ff577e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff577e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff577e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ff577e;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff577e;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff577e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff577e;
  border-bottom-color: #ff577e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff577e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff577e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff577e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-ssCMEgpu98 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-ssCMEgpu98 nav.navbar {
  position: fixed;
}
.cid-ssCMEgpu98 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ssCMEgpu98 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ssCMEgpu98 .dropdown-item:hover,
.cid-ssCMEgpu98 .dropdown-item:focus {
  background: #ff577e !important;
  color: white !important;
}
.cid-ssCMEgpu98 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ssCMEgpu98 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ssCMEgpu98 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ssCMEgpu98 .nav-link {
  position: relative;
}
.cid-ssCMEgpu98 .container {
  display: flex;
  margin: auto;
}
.cid-ssCMEgpu98 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown-menu,
.cid-ssCMEgpu98 .navbar.opened {
  background: #ffffff !important;
}
.cid-ssCMEgpu98 .nav-item:focus,
.cid-ssCMEgpu98 .nav-link:focus {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ssCMEgpu98 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ssCMEgpu98 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.opened {
  transition: all 0.3s;
}
.cid-ssCMEgpu98 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ssCMEgpu98 .navbar .navbar-logo img {
  width: auto;
}
.cid-ssCMEgpu98 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar.collapsed {
  justify-content: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ssCMEgpu98 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ssCMEgpu98 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ssCMEgpu98 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ssCMEgpu98 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ssCMEgpu98 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ssCMEgpu98 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ssCMEgpu98 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ssCMEgpu98 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ssCMEgpu98 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ssCMEgpu98 .navbar.navbar-short {
  min-height: 60px;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ssCMEgpu98 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown-item.active,
.cid-ssCMEgpu98 .dropdown-item:active {
  background-color: transparent;
}
.cid-ssCMEgpu98 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ssCMEgpu98 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ssCMEgpu98 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ssCMEgpu98 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ssCMEgpu98 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ssCMEgpu98 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ssCMEgpu98 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ssCMEgpu98 .navbar {
    height: 70px;
  }
  .cid-ssCMEgpu98 .navbar.opened {
    height: auto;
  }
  .cid-ssCMEgpu98 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ssCMGg93kA {
  background-image: url("../../../assets/images/arms-2.png");
}
.cid-ssCMLiNwty {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-ssCMLiNwty .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-ssCMLiNwty img,
.cid-ssCMLiNwty .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-ssCMLiNwty .item:focus,
.cid-ssCMLiNwty span:focus {
  outline: none;
}
.cid-ssCMLiNwty .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ssCMLiNwty .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ssCMLiNwty .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-ssCMLiNwty .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ssCMLiNwty .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-ssCMLiNwty .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-ssCMLiNwty .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ssCMLiNwty .mbr-section-title {
  color: #232323;
}
.cid-ssCMLiNwty .mbr-text,
.cid-ssCMLiNwty .mbr-section-btn {
  text-align: left;
}
.cid-ssCMLiNwty .item-title {
  text-align: left;
}
.cid-ssCMLiNwty .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-ssDoeEsemA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssDoeEsemA .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-ssDoeEsemA form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-ssDoeEsemA form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-ssDoeEsemA form.mbr-form {
    padding: 1rem;
  }
}
.cid-ssDoeEsemA form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-ssDoeEsemA form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-ssDOXkUO7Y {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-ssDOXkUO7Y .media-container-row {
  justify-content: space-between;
}
.cid-ssDOXkUO7Y .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-ssDOXkUO7Y .text-content {
    max-width: none;
  }
}
.cid-ssDOXkUO7Y .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #ff577e;
  border: 2px solid #ff577e;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-ssDOXkUO7Y .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-ssDOXkUO7Y .mbr-iconfont-social:hover {
  background-color: #ff577e;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-ssDOXkUO7Y .icons {
    justify-content: center !important;
  }
  .cid-ssDOXkUO7Y .text-content * {
    text-align: center;
  }
}
.cid-ssCMVsqWag {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-ssCMVsqWag .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-ssCMVsqWag .row {
    text-align: center;
  }
  .cid-ssCMVsqWag .row > div {
    margin: auto;
  }
  .cid-ssCMVsqWag .social-row {
    justify-content: center;
  }
}
.cid-ssCMVsqWag .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-ssCMVsqWag .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 0rem;
  }
}
.cid-ssCMVsqWag .mbr-text {
  color: #bbbbbb;
}
.cid-ssCMVsqWag .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-ssCMVsqWag .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-ssCMEgpu98 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-ssCMEgpu98 nav.navbar {
  position: fixed;
}
.cid-ssCMEgpu98 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ssCMEgpu98 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ssCMEgpu98 .dropdown-item:hover,
.cid-ssCMEgpu98 .dropdown-item:focus {
  background: #ff577e !important;
  color: white !important;
}
.cid-ssCMEgpu98 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ssCMEgpu98 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ssCMEgpu98 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ssCMEgpu98 .nav-link {
  position: relative;
}
.cid-ssCMEgpu98 .container {
  display: flex;
  margin: auto;
}
.cid-ssCMEgpu98 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown-menu,
.cid-ssCMEgpu98 .navbar.opened {
  background: #ffffff !important;
}
.cid-ssCMEgpu98 .nav-item:focus,
.cid-ssCMEgpu98 .nav-link:focus {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ssCMEgpu98 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ssCMEgpu98 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.opened {
  transition: all 0.3s;
}
.cid-ssCMEgpu98 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ssCMEgpu98 .navbar .navbar-logo img {
  width: auto;
}
.cid-ssCMEgpu98 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar.collapsed {
  justify-content: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ssCMEgpu98 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ssCMEgpu98 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ssCMEgpu98 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ssCMEgpu98 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ssCMEgpu98 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ssCMEgpu98 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ssCMEgpu98 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ssCMEgpu98 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ssCMEgpu98 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ssCMEgpu98 .navbar.navbar-short {
  min-height: 60px;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ssCMEgpu98 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown-item.active,
.cid-ssCMEgpu98 .dropdown-item:active {
  background-color: transparent;
}
.cid-ssCMEgpu98 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ssCMEgpu98 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ssCMEgpu98 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ssCMEgpu98 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ssCMEgpu98 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ssCMEgpu98 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ssCMEgpu98 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ssCMEgpu98 .navbar {
    height: 70px;
  }
  .cid-ssCMEgpu98 .navbar.opened {
    height: auto;
  }
  .cid-ssCMEgpu98 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ssDM5UFDka {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssDMbSuaoL {
  padding-top: 7rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ssDMbSuaoL img,
.cid-ssDMbSuaoL .item-img {
  width: 100%;
}
.cid-ssDMbSuaoL .item:focus,
.cid-ssDMbSuaoL span:focus {
  outline: none;
}
.cid-ssDMbSuaoL .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ssDMbSuaoL .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ssDMbSuaoL .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-ssDMbSuaoL .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ssDMbSuaoL .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-ssDMbSuaoL .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-ssDMbSuaoL .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ssDMbSuaoL .mbr-section-title {
  color: #232323;
}
.cid-ssDMbSuaoL .mbr-text,
.cid-ssDMbSuaoL .mbr-section-btn {
  text-align: left;
}
.cid-ssDMbSuaoL .item-title {
  text-align: left;
}
.cid-ssDMbSuaoL .item-subtitle {
  text-align: center;
}
.cid-ssEbe8COek {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssEbe8COek .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-ssEbe8COek form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-ssEbe8COek form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-ssEbe8COek form.mbr-form {
    padding: 1rem;
  }
}
.cid-ssEbe8COek form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-ssEbe8COek form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-ssDPyT9etc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssCMVsqWag {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-ssCMVsqWag .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-ssCMVsqWag .row {
    text-align: center;
  }
  .cid-ssCMVsqWag .row > div {
    margin: auto;
  }
  .cid-ssCMVsqWag .social-row {
    justify-content: center;
  }
}
.cid-ssCMVsqWag .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-ssCMVsqWag .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 0rem;
  }
}
.cid-ssCMVsqWag .mbr-text {
  color: #bbbbbb;
}
.cid-ssCMVsqWag .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-ssCMVsqWag .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-ssCMEgpu98 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-ssCMEgpu98 nav.navbar {
  position: fixed;
}
.cid-ssCMEgpu98 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ssCMEgpu98 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ssCMEgpu98 .dropdown-item:hover,
.cid-ssCMEgpu98 .dropdown-item:focus {
  background: #ff577e !important;
  color: white !important;
}
.cid-ssCMEgpu98 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ssCMEgpu98 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ssCMEgpu98 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ssCMEgpu98 .nav-link {
  position: relative;
}
.cid-ssCMEgpu98 .container {
  display: flex;
  margin: auto;
}
.cid-ssCMEgpu98 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown-menu,
.cid-ssCMEgpu98 .navbar.opened {
  background: #ffffff !important;
}
.cid-ssCMEgpu98 .nav-item:focus,
.cid-ssCMEgpu98 .nav-link:focus {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ssCMEgpu98 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ssCMEgpu98 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ssCMEgpu98 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ssCMEgpu98 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.opened {
  transition: all 0.3s;
}
.cid-ssCMEgpu98 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ssCMEgpu98 .navbar .navbar-logo img {
  width: auto;
}
.cid-ssCMEgpu98 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar.collapsed {
  justify-content: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ssCMEgpu98 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ssCMEgpu98 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ssCMEgpu98 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ssCMEgpu98 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ssCMEgpu98 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ssCMEgpu98 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ssCMEgpu98 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ssCMEgpu98 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ssCMEgpu98 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ssCMEgpu98 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ssCMEgpu98 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ssCMEgpu98 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ssCMEgpu98 .navbar.navbar-short {
  min-height: 60px;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ssCMEgpu98 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ssCMEgpu98 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ssCMEgpu98 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ssCMEgpu98 .dropdown-item.active,
.cid-ssCMEgpu98 .dropdown-item:active {
  background-color: transparent;
}
.cid-ssCMEgpu98 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ssCMEgpu98 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ssCMEgpu98 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ssCMEgpu98 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ssCMEgpu98 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ssCMEgpu98 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ssCMEgpu98 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ssCMEgpu98 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ssCMEgpu98 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ssCMEgpu98 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ssCMEgpu98 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ssCMEgpu98 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ssCMEgpu98 .navbar {
    height: 70px;
  }
  .cid-ssCMEgpu98 .navbar.opened {
    height: auto;
  }
  .cid-ssCMEgpu98 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-suNZpshPeG {
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-suNmTCOLv3 {
  padding-top: 10rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-suNma1t21w {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
}
.cid-suNma1t21w .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-suNma1t21w .plan-body {
  padding-bottom: 2rem;
}
.cid-suNma1t21w .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-suNma1t21w .price {
  color: #ff577e;
}
.cid-suNma1t21w .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-suNma1t21w .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-suNma1t21w .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-suNma1t21w .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-suNma1t21w .plan {
    margin-bottom: 2rem;
  }
}
.cid-suNn3XBCvJ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-suNr15yxdV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
}
.cid-suNr15yxdV .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-suNr15yxdV .plan-body {
  padding-bottom: 2rem;
}
.cid-suNr15yxdV .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-suNr15yxdV .price {
  color: #ff577e;
}
.cid-suNr15yxdV .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-suNr15yxdV .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-suNr15yxdV .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-suNr15yxdV .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-suNr15yxdV .plan {
    margin-bottom: 2rem;
  }
}
.cid-ssCMVsqWag {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-ssCMVsqWag .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-ssCMVsqWag .row {
    text-align: center;
  }
  .cid-ssCMVsqWag .row > div {
    margin: auto;
  }
  .cid-ssCMVsqWag .social-row {
    justify-content: center;
  }
}
.cid-ssCMVsqWag .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-ssCMVsqWag .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ssCMVsqWag .list {
    margin-bottom: 0rem;
  }
}
.cid-ssCMVsqWag .mbr-text {
  color: #bbbbbb;
}
.cid-ssCMVsqWag .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-ssCMVsqWag .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-ssCMVsqWag div > *:last-child {
    margin-top: 0 !important;
  }
}
